@import "mySmartGrid";

.catalog-main {
  width: calc(60% - 25px);
  max-width: 690px;
  @include lg {
    order: -1;
    width: 100%;
    max-width: 100%;
    margin-right: 0;
}
}

.catalog {

		// .catalog__list

		&__list {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
		}

		// .catalog__item

		&__item {

			// .catalog__item_wrapper

			&_wrapper {
			}

			// .catalog__item_img

			&_img {
        display: block;
			}

      .catalog__item_descr {
        padding: 0 30px 30px 30px;
        border-right: 2px solid #81C6D6;
        border-left: 2px solid #81C6D6;
        border-bottom: 2px solid #81C6D6;
      }

			// .catalog__item_title

			&_title {

			}

      // .catalog__item_title-link

      &_title-link {
        @include thisFont("Montserrat", 700, normal, 108px, #000000, 20px);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

			// .catalog__item_linklist

			&_linklist {
        display: flex;
        flex-wrap: wrap;
			}

			// .catalog__item_linkitem

			&_linkitem {
			}

			// .catalog__item_link

			&_link {
        @include thisFont("Montserrat", 400, normal, 16px, #0F7F99, 12px);
        text-decoration: none;
        margin-right: 10px;
        
        &:hover {
          text-decoration: underline;
        }
			}

      // catalog__item_span

      &_span {
        @include thisFont("Montserrat", 400, normal, 16px, #0F7F99, 12px);
        margin-right: 10px;
      }

			// .catalog__item_buttonsbox

			&_buttonsbox {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
			}

			// .catalog__item_morelink

			&_morelink {
        @include thisFont("Montserrat", 500, normal, 28px, #ffffff, 16px);
        background-color: #3C3F49;
        border: 3px solid #3C3F49; 
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: calc(50% - 5px);
        height: 60px;
        &:hover {
          @include thisFont("Montserrat", 500, normal, 28px, #3C3F49, 16px);
          border: 3px solid #3C3F49;  
          box-sizing: border-box;
          border-radius: 3px;
          background-color: transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
        }

			}

			// .catalog__item_btn

			&_btn {
        @include blueButtonNoActive();
        font-size: 16px;
        width: calc(50% - 5px);
        &:hover {
          @include blueButtonActive();
          font-size: 16px;
          height: 60px;
        }
			}
		}
}
