@import "mySmartGrid";

.header {
  position: relative;
  background-size: cover;
  // .header__menu

  &__menu {
    min-height: 240px;
    display: grid;
    grid-template-columns: min-content auto min-content;
    padding-top: 15px;
    height: max-content;
    @include md {
      grid-template-rows: 80px auto;
      min-height: 250px;
    }
  }
  .hamburger {
    display: none;
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      background-color: #ffffff;
    }
    @include xl {
      display: block;
      z-index: 5;
      width: 70px;
      grid-row: 1/2;
      grid-column: -1/-2;
    }
  }

  .is-active {
    @include xl {
      .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #000000;
      }
    }
  }

  // .header__logo

  &__logo {
  }

  &__logo_link {
    align-self: start;
    grid-column: 1/2;
    min-width: 205px;
  }

  // .header__buttons_wrapper

  &__buttons_wrapper {
    grid-column: 3/4;
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: repeat(auto-fit, 60px);
    align-items: start;
    justify-items: end;
    @media screen and (max-width: 1610px) {
      width: 100%;
      margin-top: 20px;
      grid-row: 2/3;
      grid-column: 1/4;
      grid-template-columns: 250px auto 70px;
    }
    @include md {
      grid-template-columns: min-content;
      justify-content: space-between;
    }
  }
    
    
    // .header__nav_list

    &__nav_list {
      grid-column: 2/3;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-top: 15px;
      flex: 1 0 auto;
      @media screen and (max-width: 1610px) {
        grid-column: 2/4;
      }
      @include xl {
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.95);
        border-top: 3px solid #81C6D6;
        z-index: 4;
        top: 0;
        right: 0;
        padding: 20px 150px 35px 20px;
      }
      @include md {
        padding: 20px 80px 35px 20px; 
      }
      @include sm {
       grid-column: 1/4;
       right: 0;
       left: 0;
      }
    }

    // .header__nav_item

    &__nav_item {
      position: relative;
      margin-left: 35px;
      height: min-content;
      @include xl {
        margin: 5px 0;
      }
    }

    // .header__nav_link

    &__nav_link {
      @include thisFont("Montserrat", 400, normal, 28px, #ffffff, 20px);
      text-decoration: none;
      @media screen and (max-width: 1610px) {
        font-size: 19px;
      }
      @include xl {
        color: #000000;
        font-size: 20px;
      }
      &:hover {
        text-decoration: underline;
        color: #81C6D6;
      }
    }

    // .header__nav_button

    &__nav_button {
      grid-row: 1/2;
      grid-column: 1/2;
      @include blueButtonNoActive();
      margin-left: 30px;
      width: 250px;
      height: 60px;
      &:hover {
        @include blueButtonActive();
      }
      @include md {
        grid-row: 1/2;
        grid-column: 1/2;
        margin-left: 0;
        justify-self: start;
        align-self: start;
      }
      @include sm {
        width: 200px;
      }
    }

    // .header__nav_search

    &__nav_search {
      grid-row: 1/2;
      grid-column: 2/3;
      align-self: start;
      margin-top: 15px;
      background-image: url(../img/content-img/search.png);
      background-size: cover;
      width: 40px;
      height: 40px;
      background-position: center center;
      background-color: transparent;
      border: none;
      margin-left: 80px;
      @media screen and (max-width: 1610px) {
        grid-column: 3/4;
      }
      @include md {
        grid-row: 1/2;
        grid-column: 2/3;
        margin-left: 10px;
      }
    }

    // .header__nav_field

    &__nav_field {
      @include fieldNoBorder();
      display: none;
      max-width: 370px;
      grid-row: 2/3;
      grid-column: 1/3;
      align-self: center;
      @media screen and (max-width: 1610px) {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: end;
      }
      @include md {
        grid-row: 2/3;
        grid-column: 1/3;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
      }
    }

    // .header__nav_sublist

    &__nav_sublist {
      visibility: hidden;
      flex-direction: column;
      display: flex;
      max-height: 0;
      background-color: rgba(255, 255, 255, 0.85);
      border-top: 3px solid #81C6D6;
      padding: 10px 35px;
      position: absolute;
      z-index: 5;
      top: 100%;
      width: max-content;
      transition: max-height 0.5s ease-out;
      @include xl {
        top: 0;
        right: 100%;
      }
      @include sm {
        position: relative;
        right: auto;
        width: 100%;
        background-color: transparent;
        margin-top: 7px;
      }
    }
    .hidden {
      display: none;
    }
    .header__nav_item:hover .header__nav_sublist, .header__nav_item .header__nav_sublist:hover {
      visibility: visible;
      max-height: 1000px;
      display: flex;
    }
    // .header__nav_subitem 

    &__nav_subitem {
      clear: both;
      width: 100%;
      position: relative;
    }

    // .header__nav_sublink

    &__nav_sublink {
      @include thisFont("Montserrat", 400, normal, 46px, #000000, 14px);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #81C6D6;
      }  
    }
  

  // .header__slider

  &__slider {
    position: relative;
    z-index: 2;
    margin-top: 24px;
    @include lg {
      margin-top: 120px;
    }
    @include  md {
      margin-top: 90px;
    }
    .slick-arrow {
      position: absolute;
      z-index: 2;
      border: none;
      outline: none;
      background-color: transparent;
      width: 60px;
      height: 60px;
      background-size: 60px;
      background-position: center center;
      bottom: 100px;
    }
    .slick-prev {
      background-image: url(../img/content-img/arrow-left.svg);
      left: 72%;
      @include xl {
        left: auto;
        right: 100px;
      }
    }
    .slick-next {
      background-image: url(../img/content-img/arrow-right.svg);
      left: 78.5%;
      @include xl {
        left: auto;
        right: 20px;
      }
    }
    .header__slider_dots {
      position: absolute;
      bottom: 100px;
      left: 18.5%;
      display: flex;
      @include xl {
        left: 20px;
      }
      li {
        margin-right: 15px;
      }
      button {
        font-size: 0;
        border: 3px solid #ffffff;
        width: 12px;
        height: 12px;
        box-sizing: border-box;
        outline: none;
        border-radius: 50%;
        background-color: #fff;
        padding: 0;
      }
      .slick-active button {
        background-color: transparent;
        box-sizing: content-box;
      }
    }
  }

  // .header__slide

  &__slide {
    margin-bottom: 285px;

    // .header__slide_title

    .header__slide &_title {
      color: #ffffff;
      width: 100%;
      max-width: 718px;
      
      @include md {
        max-width: 460px;
        font-size: 50px;
      }
      @include sm {
        max-width: 320px;
        font-size: 38px;
      }
    }

    // .header__slide_text

    .header__slide &_text {
      color: #ffffff;
      width: 100%;
      max-width: 450px;
      margin-top: 20px;
      @include md {
        max-width: 460px;
      }
      @include sm {
        max-width: 320px;
      }
    }

    // .header__slide_link

    &_link {
      @include whiteButtonNoActive();
      width: 250px;
      height: 60px;
      margin-top: 60px;
      &:hover {
        @include whiteButtonActive();
      }
    }

    // .header__slide_description

    &_description {

    }
  }
}
.page_header {
  color: #ffffff;
  position: relative;
  z-index: 2;
  padding-bottom: 90px;
  @include lg {
    padding-bottom: 70px;
  }
  @include md {
    padding-bottom: 50px;
  }
}

body .breadcrumbs {
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 1px;
    background-color: #81C6D6;
    position: absolute;
    top: 100%;
    //left: 0;
    //right: 0;
  }

  // .breadcrumbs__list

  .breadcrumbs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 0;
  }

  // .breadcrumbs__item

  &__item {
    @include thisFont("Montserrat", 400, normal, 46px, #000000, 14px);
  }

  // .breadcrumbs__link_text

  &__link_text {
    color: #0F7F99;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    @include sm {
      font-size: 16px;
    }
  }

  // .breadcrumbs__link

  &__link {
    text-decoration: none;
    &::after {
      content: "/";
      margin: 0 10px;
    }
  }

  // .breadcrumbs__span

  &__span {
    @include sm {
      font-size: 16px;
    }
  }
}

