@import "mySmartGrid";
@import "fonts";
@include reset();
body {
  overflow-x: hidden;
}
.container {
  @include container();
}

h1, .header1 {
  @include thisFont("Montserrat", 800, normal, 78px, #000000, 65px);
  @include md {
    font-size: 50px;
  }
  @include sm {
    font-size: 40px;
  }
}
h2, .header2 {
  @include thisFont("Montserrat", 800, normal, 50px, #000000, 42px);
  @include md {
    font-size: 32px;
  }
  @include sm {
    font-size: 30px;
  }
}
h3, .header3 {
  @include thisFont("Montserrat", 700, normal, 37px, #000000, 27px);
  @include md {
    font-size: 25px;
  }
  @include sm {
    font-size: 23px;
  }
}
h4, .header4 {
  @include thisFont("Montserrat", 500, normal, 37px, #000000, 27px);
  @include md {
    font-size: 25px;
  }
  @include sm {
    font-size: 23px;
  }
}
p, span, .paragraph {
  @include thisFont("Montserrat", 400, normal, 28px, #000000, 20px);
}
.container-big {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 75px;
  padding-right: 75px;
  box-sizing: border-box;
  @include xl {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.blue-submit-button {
  @include blueButtonNoActive();
  max-width: 250px;
  height: 60px;
  margin-top: 50px;
  padding: 0 25px;
  box-sizing: border-box;
  &:hover {
    @include blueButtonActive();
  }
}
.input-border-field {
  @include fieldBorder();
    height: 60px;
    margin-bottom: 5px;
    padding: 0 25px;
    box-sizing: border-box;
}
.comment-border-field {
  @include fieldBorder();
    padding: 25px 20px;
    box-sizing: border-box;
}

@import "header";

.homepage .header {
  background-image: url(../img/content-img/background_home.jpg);
  background-size: cover;
}
.about-company .header {
    background-image: url(../img/content-img/header_about_us.jpg);
    background-size: cover;
}
.portfolio .header {
  background-image: url(../img/content-img/portfolio_header.jpg);
  background-size: cover;
}
.blog-list .header, .catalog .header {
  background-image: url(../img/content-img/blog-list-header.jpg);
  background-size: cover;
}
.blog-item .header {
  background-image: url(../img/content-img/header-blog-item.jpg);
  background-size: cover;
}
.cooperation .header {
  background-image: url(../img/content-img/cooperation-header.jpg);
  background-size: cover;
}
.contacts .header {
  background-image: url(../img/content-img/contacts-header.jpg);
  background-size: cover;
}

@import "homepage_main";
@import "homepage_advertising";
@import "_footer";
@import "about-company_main";
@import "portfolio_main";
@import "blog-aside";
@import "cooperation";
@import "contacts";
@import "catalog";